.recipe-collection {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  list-style: none;
}
.recipe-card {
  display: block;
  box-sizing: border-box;
  box-shadow: 0 2px 3px $light-gray;
  width: 200px;
  height: 200px;
  text-decoration: none;

  &:hover {
    background-color: $lightest-gray;
  }
}
