// Main.scss is for global and top level container styling.

.flex-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

#navbar {
  width: 100%;
  display: flex;
  max-height: 2rem;
}

#main {
  flex: 1 1 100%;
  left:0;
  z-index: 0;
  padding: 20px;
  align-items: flex-start;
}


